@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.arvo-regular {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;
}


/* GENERAL BODY*/
h1 {
  position: absolute;
  left: -99999999px;
}
/*para ocultar h1 ya q ya lo tenemos en el logo entonces no va bien con diseño volver a poner el nombre...*/
body {
  background-color: #fdf5e6;
  color: #4a4a4a;
  overflow-x: hidden;
}
h2,
h3,
h4 {
  font-family: 'Arvo', serif;
  font-weight: 600;
  font-style: normal;
}
p,
li,
a,
label,
a {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-weight: 400;
  color: #4a4a4a;
}

a {
  font-weight: 600;
}

/*HEADER*/
#SOS {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-bottom: 0px;
  font-size: 30px;
}

#logo-nav-slogan {
  background-color: #d9a5b3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  border-radius: 40px;
  width: 80%;
  margin: 40px auto;
}

#logo-nav-slogan img {
  max-width: 250px;
  width: 100%;
}

#logo-nav-slogan ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#logo-nav-slogan li {
  list-style: none;
  font-size: 30px;
  background-color: #a8c3b0;
  padding: 10px;
  border-radius: 40px;
  width: fit-content;
  text-align: center;
}

#logo-nav-slogan a {
  text-decoration: none;
}

#nav-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#slogan-boton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#slogan-boton h3 {
  font-size: 40px;
  width: 100%;
  max-width: 750px;
  text-align: center;
}

#slogan-boton a {
  background-color: #967bb6;
  border-radius: 40px;
  padding: 20px;
  font-size: 30px;
}

/*SECCION historia*/
#historia h3{font-size: 40px;
text-align: center; padding: 30px;}
#historia-bloque{ background-color: #967bb6;
border-radius: 40px;
padding: 40px;
display: flex;
gap: 40px;
align-items: center;
justify-content: center;
flex-wrap: wrap;

}


#historia-bloque p{ font-size: 30px; max-width: 1000px; width: 100%; background-color: #a8c3b0; border-radius: 40px;
padding: 30px; line-height: 1.8;}

#historia-bloque img{max-width: 900px; width: 100%; border-radius: 40px;
border: 8px solid #d9a5b3 ;}







/*SECCION mision vision*/

#bloques-mision-vision {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;
  padding: 60px 0;
  width: 75%;
  flex-wrap: wrap;
}

.bloque {
  background-color:#a8c3b0;
  border-radius: 40px;
  border: 8px solid #967bb6;
  padding: 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* space beetween a ambos les de el diferente espacio entre cada elemento para que se vea simetrico, sin esto el boton de "donar ahora" quedaria mas arriba*/

  gap: 25px;
  font-size: 20px;
  line-height: 1.8;
}

/*flex 1 lo q hace es: que ambos bloques ocupen el mismo espacio, mismo tamañno, mismo ancho*/
/*flex 1 hace magia: hace q un bloque crezca para ocupar el espacio disponible. si tienes dos cajas(como es el caso con labor impacto) ambas ocupan espacio EQUITATIVAMENTE
si tenemos por ejemplo dos cajas pero queremos que una de ellas ocupe el doble de espacio a esa le ponemos flex:2 y a la otras flex:1 */
.bloque h3 {
  text-align: center;
  font-size: 40px;
}
.bloque a {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  background-color: #a8c3b0;
  border-radius: 40px;
  padding: 20px;

  width: fit-content;
  /*esto es para q mis botones solo tengan de tamaño lo que ocupa el texto*/
  align-self: center;
  /*el align self sirve paraq ue se alinee la cajita de mi boton. el text align alinea el texto nada mas, pero yo tmb quiero el boton alineado*/
}

.bloque p,
li {
  font-size: 30px;
}

.info-arriba img {
  width: 100%;
  max-width: 150px;
  align-self: center;
}

.info-arriba {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}



/*FOOTER */

footer {
  background-color: #d9a5b3;
  padding: 20px;
  padding-top: 40px;
  margin-top: 100px;
}

#footer-info {
  display: flex;
  flex-direction: row;
  gap: 10%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer img {
  max-width: 200px;
}

#logo-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#logo-slogan h3 {
  width: 500px;
  font-size: 25px;
  text-align: center;
}

#ubi {
  font-size: 25px;
}

#iconos-redes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#iconos-redes li {
  font-size: 25px;
}
.iconos-redes {
  width: 100px;
}

#copyright {
  text-align: center;
  padding-top: 40px;
  font-size: 21px;
}
